footer{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  background-color: #333;
  width: 100%;
  padding:10px;
}

.media{
  height: 35px;
  padding-left: 50px;
  padding-right: 50px;
}